.root {
  background-color: var(--gray9);
  border-bottom: 2px solid var(--secondary);
  box-shadow: var(--elev2);
  color: var(--secondary);
  display: flex;
  min-height: 55px;
  position: sticky;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.root nav {
  display: none;
}

@media screen and (min-width: 600px) {
  .root {
    min-height: 75px;
  }

  .root nav {
    display: block;
  }
}

.root [data-reach-menu-button][aria-expanded='true'] {
  /* font-weight: bold; */
}

.root [data-reach-menu-button] {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  text-transform: inherit;
}

.root ul {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin: 0;
  padding: 0;
}

.root li {
  list-style-type: none;
  margin-right: var(--padding2);
}

.logo {
  height: 40px;
  margin-right: auto;
  position: relative;
  width: 45px;
}

.link,
.link:visited {
  color: var(--secondary);
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ahhhh[data-reach-menu-list],
.ahhhh[data-reach-menu-items] {
  animation: slide-down 0.2s ease;
  z-index: 2;
}

.ahhhh {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--padding1);
  z-index: 1;
  box-shadow: var(--elev2);
}
