/* NOTE: some stuff is inherited from Header.module.css */
.mobileNavModal[data-reach-dialog-overlay] {
  background-color: transparent;
  z-index: 3; /* above header */
}

.mobileNavModal [data-reach-dialog-content] {
  animation: fade-in 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: hsl(0 0% 0% / 95%);
  height: 100%;
  margin: 0;
  padding: var(--padding5) var(--padding2);
  width: 100vw;
}

.mobileNav {
  --verticalSpacer: var(--padding3);
  z-index: 1;
}

.mobileNav ul {
  list-style-type: none;
  margin-bottom: var(--verticalSpacer);
  padding: 0;
}

.mobileNav li {
  margin-bottom: var(--padding0);
  line-height: var(--headingLineHt);
}

.mobileNavHeading {
  color: var(--white);
  margin-bottom: var(--padding0);
  font-size: var(--font-h4);
}

.mobileNavList {
  display: grid;
  grid-column-gap: var(--padding1);
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: var(--padding2) var(--padding3);
}

.burger {
  display: flex;
  order: 3; /* after cta */
}

.burger:focus {
  outline: 2px solid;
}

.burger button {
  font-size: 1.5rem;
}

/* Might could do 800 */
@media screen and (min-width: 801px) {
  .burger {
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(125px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
