/* NOTE: some stuff is inherited from Header.module.css */
.mobileNavModal[data-reach-dialog-overlay] {
  background-color: hsl(0 0% 0% / 95%);
  z-index: 3; /* above header */
}

.mobileNavModal [data-reach-dialog-content] {
  animation: fade-in 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: transparent;
  height: 100%;
  margin: 0;
  padding: 0 var(--p2) var(--p5);
  width: 100vw;
}

.nav {
  --verticalSpacer: var(--p3);
  z-index: 1;
  padding-bottom: var(--p3); /* prevent cut-off bottom on mobile */
}

.nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.childless {
  display: inline-block;
  width: max(100px, 33%);
  margin-bottom: var(--p1);
}

.childless a {
  display: flex;
}

.childless:first-of-type {
  margin-right: var(--p3);
}

.link {
  line-height: var(--headingLineHt); /* otherwise looks like a new row */
}

.heading {
  color: var(--white);
  margin-bottom: var(--p1);
  font-size: var(--font-h3);
  margin-top: var(--verticalSpacer);
}

.nestedList {
  display: grid;
  gap: var(--p0) var(--p2);
  grid-template-columns: 1fr 1fr;
  margin: 0 0 var(--p5);
  padding: var(--p2) var(--p3);
}

@media screen and (min-width: 600px) {
  .nestedList {
    gap: var(--p2);
    grid-template-columns: 1fr 1fr 1fr;
  }

  .childless {
    margin-bottom: var(--p3);
  }

  .heading {
    margin-bottom: var(--p2);
  }

  .link {
    font-size: 1.15rem; /* sloppy, no global */
  }
}

.burger {
  display: flex;
  order: 3; /* after cta */
}

.burger:focus {
  outline: 2px solid;
}

.burger button {
  font-size: 1.5rem;
  padding-right: 0; /* root or parent elem has horiz. padding already */
}

@media screen and (min-width: 800px) {
  .burger {
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(125px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
