/* CRED: Material UI */
.button {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border: 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--btnFontFam);
  font-size: var(--font-sm);
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.02857em;
  line-height: 1.75;
  margin: 0;
  min-width: 64px;
  outline: 0;
  padding: 6px 16px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--btnTrans);
  user-select: none;
  vertical-align: middle;
}

.button:hover {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.button a {
  color: inherit;
  display: block;
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  text-decoration: none;
  background-color: var(--primaryLight);
}

/* e.g. just icon */
.contentOnly {
  padding: 6px 8px;
  min-width: unset;
  box-shadow: none;
  background-color: transparent;
}

.contentOnly:hover {
  background-color: transparent;
}

.small {
  padding: 4px 8px;
  font-size: var(--font-xs);
}

/* .large { } */

.dialogCloseBtn {
  position: absolute;
  top: var(--padding1);
  right: var(--padding1);
  padding: 0;
}

.dialogCloseBtn svg {
  font-size: var(--font-h4);
}
