.langsList {
  display: grid;
  grid-gap: var(--p2);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 40vh;
  max-height: 175px;
  margin-bottom: var(--p2);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.linksList {
  margin: 0 0 var(--p2);
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  overflow-x: auto;
}

.linksList li + li {
  margin-left: var(--p0);
}

.linksList li {
  flex-shrink: 0;
}

.linksList a {
  text-transform: none;
}
