/* The root <Tabs> node */
/* .tabs { } */

.tabs [data-reach-tab-list] {
  overflow-x: auto;
  margin-bottom: var(--p4);
  display: flex;
  background: none;
}

.tabs [data-reach-tab-list]:after {
  content: '';
  border-bottom: solid var(--gr1) 1px;
  width: 100%;
}

.tabs [data-reach-tab-panels] {
  overflow-y: auto;
  flex: 1;
}

/* .tabs [data-reach-tab-panel] { } */

.tabs [data-reach-tab] {
  background-color: var(--primaryLight);
  border-bottom-width: 2px;
  border-color: transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 2px;
  box-shadow: var(--elev2);
  color: var(--offWhite);
  flex-shrink: 0;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding-left: var(--p3);
  padding-right: var(--p3);
  transition: var(--transition);
}

.tabs [data-reach-tab]:first-child {
  border-top-left-radius: var(--rad2);
}

.tabs [data-reach-tab]:last-child {
  border-top-right-radius: var(--rad2);
}

.tabs [data-reach-tab] + [data-reach-tab] {
  border-left: solid rgba(255, 255, 255, 0.15) 1px;
}

.tabs [data-reach-tab][data-selected] {
  background-color: var(--primaryLighter);
  border-bottom-color: rgba(255, 255, 255, 0.725);
  color: var(--white);
}
