.contentRoot {
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
}

.tabs[data-reach-tabs] {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: auto;
}

.tabs [data-reach-tab-list] {
  background-color: var(--primaryDark);
  box-shadow: var(--elev8);
  display: flex;
  overflow-x: auto;
  position: sticky;
  top: 0;
  width: 100%;
}

.tabs [data-reach-tab-panels] {
  flex: 1;
  overflow-y: auto;
  padding: var(--p4) var(--gutter);
}

.tabs [data-reach-tab] {
  background-color: var(--primaryDark);
  border-color: transparent;
  border-right: solid rgba(255, 255, 255, 0.15) 1px;
  border-top-style: solid;
  color: var(--offWhite);
  flex-shrink: 0;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding-left: var(--p3);
  padding-right: var(--p3);
  transition: var(--transition);
}

.tabs [data-reach-tab][data-selected] {
  background-color: var(--primaryLighter);
  border-bottom-color: var(--primaryLight);
  color: var(--white);
}

@media screen and (max-width: 600px) {
  .tabs [data-reach-tab] {
    padding-left: var(--p2);
    padding-right: var(--p2);
  }
}

@media screen and (min-width: 800px) {
  .tabs [data-reach-tab]:hover:not([data-selected]) {
    background-color: var(--primaryDarker);
  }
}
