.chip {
  display: inline-flex;
  padding: 2px 6px;
  box-shadow: var(--elev1);
  border-radius: var(--borderRad2);
  color: var(--white);
  background-color: var(--gray4);
  font-size: var(--font-xs);
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: var(--padding1);
}

.list > * + * {
  margin-left: 8px;
}
