.root {
  color: var(--white);
  margin: 0 auto var(--p6);
  padding-top: var(--p1);
  text-align: center;
}

.title {
  margin-left: auto;
  margin-right: auto;
  max-width: inherit;
}

.subtitle {
  color: var(--gr2);
  font-family: var(--bodyFontFam);
  font-size: var(--font-h4);
  line-height: 1;
  margin: 0 0 var(--p4);
}

/* e.g. excerpt */
.summary {
  margin-bottom: var(--p3);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 var(--p0);
}

/*
TODO: rm if not using

.summaryReadMore {
  --lineHeight: 2rem;
  margin-bottom: var(--p3);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 var(--p1);
  position: relative;
  line-height: var(--lineHeight);
  height: calc(var(--lineHeight) * 4);
  overflow: hidden;
}

.summaryReadMore:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  height: var(--lineHeight);
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.5) 65%
  );
}
*/
