.root {
  color: var(--white);
  margin: 0 auto var(--p6);
  padding-top: var(--p1);
  text-align: center;
}

.title {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.56);
  margin-left: auto;
  margin-right: auto;
  max-width: inherit;
  margin-bottom: var(--p3);
  line-height: 1.15;
}

.subtitle {
  color: var(--offWhite);
  font-family: var(--toughEndoFontFam);
  font-size: var(--font-h3);
  line-height: 1;
  margin: 0 0 var(--p4);
}

/* e.g. excerpt */
.summary {
  margin-bottom: var(--p3);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 70%);
}

@media screen and (min-width: 1000px) {
  .summary {
    font-size: 18px;
    letter-spacing: 0.0275rem;
  }
}
