.root {
  color: var(--white);
  margin: 0 auto var(--padding6);
  max-width: 1000px;
  padding-top: var(--padding1);
  text-align: center;
}

.title {
  margin-left: auto;
  margin-right: auto;
  max-width: inherit;
}

.subtitle {
  color: var(--gray2);
  font-family: var(--bodyFontFam);
  font-size: var(--font-h4);
  line-height: 1;
  margin: 0 0 var(--padding4);
}

/* e.g. excerpt */
.summary {
  margin-bottom: var(--padding3);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 var(--padding2);
}

.divider {
  border-color: rgba(255, 255, 255, 0.45); /* TODO: var seems useful */
  max-width: 85%;
}
