.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--headerHt));
  height: 100vh;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: 0 var(--gutter);
}

.main {
  padding-bottom: var(--p3);
  padding-top: var(--p2);
}

.scrollWrap {
  overflow-y: auto;
}

.afterTweener {
  --linkColor: var(--primary);
  position: relative; /* for scrollTarget */
}

/* CRED: https://stackoverflow.com/a/49968820/1048518 */
.scrollTarget {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
}

.content {
  --corner: var(--rad2);
  background-color: var(--white);
  box-shadow: var(--elev3);
  padding: var(--gutter);
  border-radius: var(--corner);
  color: var(--black);
  margin-bottom: var(--p4);
}

@media screen and (max-width: 600px) {
  .content {
    margin-left: calc(-1 * var(--gutter));
    margin-right: calc(-1 * var(--gutter));
    padding: var(--gutter);
    border-radius: 0;
  }
}

/* Deal with the few stragglers, e.g. Garifuna has some complexities */
.content table {
  margin-bottom: var(--p4);
}

.content table,
.content table th,
.content table td {
  border: 1px solid #d4e0ee;
  border-collapse: collapse;
  color: #555;
}

.content table th,
.content table td {
  padding: var(--p0);
}

/* Helpers */
.flexCenter {
  justify-content: center;
  display: flex;
}

.flexCenter > * {
  flex-grow: 0;
}
