.page {
  height: 100vh;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: 0 var(--gutter);
}

.main {
  padding-top: var(--p4);
  padding-bottom: var(--p3);
}

.content {
  --linkColor: var(--primary);
  background-color: var(--white);
  border-radius: var(--rad2);
  box-shadow: var(--elev3);
  color: var(--black);
  margin-bottom: var(--p4);
  padding: var(--gutter);
}

/* Deal with the few stragglers, e.g. Garifuna has some complexities */
.content table {
  margin-bottom: var(--p4);
}

.content table,
.content table th,
.content table td {
  border: 1px solid #d4e0ee;
  border-collapse: collapse;
  color: #555;
}

.content table th,
.content table td {
  padding: var(--p0);
}

/* Helpers */
.flexCenter {
  justify-content: center;
  display: flex;
}

.flexCenter > * {
  flex-grow: 0;
}
