.list {
  gap: var(--p4);
  margin-bottom: var(--p5);
  display: grid;
}

.card {
  --borderRadius: var(--rad3);
  border-radius: var(--borderRadius);
  box-shadow: var(--elev10);
  max-height: fit-content;
  grid-row: 1/3;
}

@media screen and (min-width: 769px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

.header {
  position: relative;
  height: 300px;
  width: 100%;
}

.title {
  margin: 0;
  position: absolute;
  z-index: 1;
  padding: var(--p1) var(--p3);
  bottom: 0;
  width: 100%;
  margin-top: auto;
  background: linear-gradient(
    to right,
    hsla(244, 68%, 21%, 0.85),
    hsla(244, 68%, 21%, 0.25) 85%
  );
  flex-grow: 1;
  flex-shrink: 0;
  color: var(--white);
}

.inner {
  padding: var(--p4);
  background-color: var(--white);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
}

.img img {
  border-radius: var(--borderRadius);
}

.link {
  justify-content: flex-end;
  display: flex;
}

.subtitle {
  margin-bottom: 0.25em;
  font-size: var(--font-h5);
  font-weight: bold;
}

/* p.summary { */
/* font-size: var(--font-h5); */
/* display: -webkit-box; */
/* -webkit-line-clamp: 2; */
/* -webkit-box-orient: vertical; */
/* } */
