/* TODO: rename everything to just CARD */
.root {
  --cardGutter: var(--padding2) var(--padding3);
  border-radius: var(--borderRad3);
  border: 1px solid var(--gray1);
  box-shadow: var(--elev1);
  overflow: hidden;
  padding: var(--cardGutter);
  min-height: 100px;
  width: 100%;
}

.link {
  display: block;
}

.header {
  line-height: var(--headingLineHt);
  border-bottom: solid 1px var(--gray2);
  margin-bottom: var(--padding1);
}

.title {
  font-size: var(--font-h5);
  line-height: inherit;
  margin-bottom: var(--padding0);
  margin-top: 0;
}

.subtitle {
  color: var(--gray2);
  font-size: var(--font-h5);
  line-height: var(--font-h5);
  margin-bottom: var(--padding0);
  vertical-align: middle;
}

.inner {
  font-size: var(--font-md);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* e.g. excerpt or background */
/* TODO: follow the rest of this: https://css-tricks.com/line-clampin/ */
.inner p {
  font-size: inherit;
  color: var(--gray7);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.summary:hover {
  background-color: red;
}
