.root {
  --cardGutter: var(--padding1);
  /* background: linear-gradient(135deg, var(--primary), var(--primaryLight)); */
  border-radius: var(--borderRad3);
  box-shadow: var(--elev1);
  display: flex;
  margin-bottom: var(--padding2);
  overflow: hidden;
  flex-direction: column;
}

.header {
  background-color: var(--primary);
  padding: var(--cardGutter) var(--cardGutter) 0;
  display: flex;
  align-items: center;
  line-height: var(--headingLineHt);
}

.title {
  font-size: var(--font-h5);
  margin-top: 0;
  margin-bottom: var(--padding0);
  color: var(--white);
  line-height: inherit;
}

.subtitle {
  margin-bottom: 0;
  color: var(--gray2);
  font-size: var(--font-h5);
  margin-left: var(--padding2);
  line-height: var(--font-h5);
  vertical-align: middle;
}

/* e.g. excerpt or background */
/* TODO: follow the rest of this: https://css-tricks.com/line-clampin/ */
.summary p {
  font-size: var(--font-sm);
  color: var(--gray7);
  display: -webkit-box;
  padding: var(--cardGutter);
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
