.root {
  background-color: var(--offWhite);
  box-shadow: var(--elev10);
  padding: var(--p4);
  gap: var(--p2);
  border-radius: var(--rad3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: var(--p0);
  margin-top: 0;
  font-size: var(--font-h4);
}

.subtitle {
  color: var(--gr6);
  margin-bottom: var(--p1);
  display: block;
}

.summary,
.summary p {
  margin-bottom: 0;
}
