.listitem {
  padding: var(--p2) 0;
  margin: 1em auto 0.5em;
  display: flex;
  max-width: var(--maxWidth);
  border-bottom: 1px solid hsl(0, 0%, 89%);
}

.listitem__content h2 {
  margin-top: 0;
}

.listItemTitle {
  margin-bottom: var(--p0);
  font-size: var(--font-h3);
}

.subtitle {
  color: var(--gr6);
  margin-bottom: var(--p2);
  display: block;
}

.summary p {
  font-size: var(--font-body);
}
