.footer {
  border-top: 4px solid var(--black);
  background-color: var(--darkGray);
  width: 100%;
  color: var(--white);
}

.footer a {
  color: var(--secondary);
}

.footer li {
  list-style-type: none;
}

.footer__wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: calc(var(--padding1) * 2);
  padding-bottom: calc(var(--padding1) * 2);
}

.contact {
  text-align: center;
  font-style: normal;
  font-size: var(--font-sm);
  margin-bottom: var(--padding1);
}

.final {
  text-align: center;
  padding-top: calc(var(--padding1) * 2);
}

.copyright {
  display: block;
  margin-bottom: var(--padding1);
}

.social {
  display: grid;
  font-size: var(--font-h2);
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  grid-column-gap: var(--padding1);
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: 83.5px;
  display: inline-block;
}
