.footer {
  background-color: var(--gray10);
  border-top: 2px solid var(--secondary);
  color: var(--white);
  padding-bottom: var(--padding5);
  padding-top: var(--padding5);
  width: 100%;
}

.footer a {
  color: var(--secondary);
}

.footer li {
  list-style-type: none;
}

.footer__wrap {
  grid-column-gap: var(--padding2);
  grid-template-columns: auto 1fr auto;
  justify-items: center;
}

.footer__wrap > * {
  margin-bottom: var(--padding4);
}

@media screen and (min-width: 769px) {
  .footer__wrap {
    display: grid;
  }
}

.contact {
  text-align: center;
  font-style: normal;
  font-size: var(--font-sm);
  padding-bottom: var(--padding3);
  margin-bottom: var(--padding3);
  border-bottom: solid var(--gray4) 1px;
}

.final {
  text-align: center;
}

.copyright {
  display: block;
  margin-bottom: var(--padding1);
}

.social {
  display: grid;
  font-size: var(--font-h2);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: 83.5px;
  display: inline-block;
}

.navList {
  margin-left: 0;
  margin-bottom: var(--padding5);
  padding: 0;
}
