.root {
  margin-bottom: var(--padding3);
  width: 100%;
  box-shadow: var(--elev2);
  border-radius: var(--borderRad3);
}

.fullWidthMap {
  height: 300px;
  width: calc(100% + 2 * var(--gutter));
  width: 100%;
}

.fullWidthMap .map {
  border-radius: var(--borderRad3) var(--borderRad3) 0 0;
  box-shadow: var(--elev2);
}

.gridContentList {
  padding: var(--padding3);
  overflow-y: auto;
}

.marker {
  --size: 20px;
  --offset: calc(var(--size) * -1);
  height: var(--size);
  cursor: pointer;
  fill: var(--primary);
  stroke: none;
  transform: translate(calc(var(--offset) / 2), var(--offset));
}

.content {
  border-left: solid 1px var(--gray2);
  flex: 1;
  display: grid;
  grid-gap: var(--padding1);
  grid: auto / repeat(6, 1fr);
  height: 40vh;
  overflow-y: auto;
  padding-bottom: 0;
  padding: var(--padding2);
  width: 100%;
}

.contentItem {
  grid-column: span 3;
}

.popupHeading {
  font-size: var(--font-h4);
  margin-bottom: var(--padding0);
}

.popupSubtitle {
  font-size: var(--font-md);
  color: var(--gray8);
  margin-bottom: var(--padding2);
}

.mapCtrlBtnStyle {
  padding: 10px;
}

/* CRED: 
themeover.com/alternating-columns-3-2-using-css-grid-and-nth-child-formulas */
/* .contentItem:nth-child(5n) { } */
/* .contentItem:nth-child(5n-2) { grid-column: span 6; } */

@media screen and (min-width: 769px) {
  .root {
    display: flex;
    height: 65vh;
  }

  .content {
    height: 100%;
  }
}
