.root {
  margin-bottom: var(--p3);
  width: 100%;
  box-shadow: var(--elev2);
  border-radius: var(--corner);
}

.fullWidthMap {
  margin-top: calc(-1 * var(--gutter));
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  width: calc(100% + 2 * var(--gutter));
}

@media screen and (max-width: 600px) {
  .mapRoot {
    margin-left: calc(-1 * var(--gutter));
    margin-right: calc(-1 * var(--gutter));
    width: calc(100% + 2 * var(--gutter));
  }
}

@media screen and (min-width: 600px) {
  .fullWidthMap {
    margin-top: calc(-1 * var(--gutter));
  }
}

.mapRoot .map {
  border-radius: var(--corner) var(--corner) 0 0;
  width: 100%;
}

.gridContentList {
  padding: var(--p3);
  overflow-y: auto;
}

.marker {
  --size: 32px;
  --offset: calc(var(--size) * -1);
  --strokeWidth: 1px;
  color: var(--white);
  display: inline-block;
  position: relative;
  transform: translate(calc(var(--offset) / 2), var(--offset));
  height: var(--size);
  width: var(--size);
}

.marker:hover {
  color: var(--white);
}

.markerLabel {
  font-size: calc(0.42 * var(--size));
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 2px;
}

.markerIcon {
  height: 100%;
  width: 100%;
}

.markerIcon path {
  stroke-width: var(--strokeWidth);
  stroke: currentColor;
}

.markersList {
  display: inline-flex;
}

.markersList .marker {
  transform: none;
  width: auto;
  width: unset;
  flex-basis: var(--size);
  flex-grow: 0;
  flex-shrink: 1;
}

.content {
  border-left: solid 1px var(--gr2);
  flex: 1;
  display: grid;
  grid-gap: var(--p1);
  grid: auto / repeat(6, 1fr);
  height: 40vh;
  overflow-y: auto;
  padding-bottom: 0;
  padding: var(--p2);
  width: 100%;
}

.popupContent {
  min-width: 175px;
  max-width: 275px;
  padding: var(--pTiniest);
}

.popupHeading {
  font-size: var(--font-h5);
  margin-bottom: 0;
}

.popupSubtitle {
  font-size: var(--font-xs);
  color: var(--gr6);
  margin-bottom: var(--p1);
}

.mapCtrlBtnStyle {
  padding: 10px;
}

/* .contentItem { grid-column: span 3; padding: var(--p3) var(--p4); } */

/* CRED: 
themeover.com/alternating-columns-3-2-using-css-grid-and-nth-child-formulas */
/* .contentItem:nth-child(5n) { } */
/* .contentItem:nth-child(5n-2) { grid-column: span 6; } */

@media screen and (min-width: 769px) {
  .root {
    display: flex;
    height: 65vh;
  }

  .content {
    height: 100%;
  }
}
