.list {
  display: flex;
  overflow-x: auto;
  margin-bottom: var(--padding4);
  /* TODO: sweet custom scrollbar */
  /* TODO: padding-left or other way to obviate scrollability on mobile */
  /* LIKE: last-child margin-right + an overlay mask on parent's right side */
}

.thumb {
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: var(--borderRad2);
  box-shadow: var(--elev1);
  margin-bottom: var(--padding0); /* prevents overflow-y scrollbar */
  z-index: 0;
}

.thumb img {
  border-radius: inherit;
  width: 100%;
  border: solid var(--gray7) 1px;
}

.thumb + .thumb {
  margin-left: var(--padding1);
}

.mask {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: inherit;
  color: var(--white);
  display: flex;
  font-size: 80px;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: var(--btnTrans);
  width: 100%;
  z-index: 0;
}

.mask:hover {
  background-color: transparent;
}

/* Won't beat the specificity w/just .dialog */
.dialog[data-reach-dialog-content] {
  width: auto;
  max-width: 800px;
  padding: var(--padding5) var(--padding2);
  position: relative;
  margin: var(--padding2);
}

@media screen and (min-width: 600px) {
  .dialog[data-reach-dialog-content] {
    padding: var(--padding5);
    margin: var(--padding4) auto;
  }
}

.dialogTitle {
  text-align: center;
}

.dialogDescrip {
  color: var(--gray8);
}

.dialogCloseBtn {
  position: absolute;
  top: var(--padding1);
  right: var(--padding1);
}

.videoContainer {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  margin-bottom: var(--padding4);
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
