.list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: var(--p4);
  /* TODO: sweet custom scrollbar */
  /* TODO: padding-left or other way to obviate scrollability on mobile */
  /* LIKE: last-child margin-right + an overlay mask on parent's right side */
}

.thumb {
  border: solid rgba(0, 0, 0, 0.125) 1px;
  border-radius: var(--rad2);
  box-shadow: var(--elev6);
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: var(--p1);
  position: relative;
  z-index: 0;
}

.thumb img {
  border-radius: inherit;
  width: 100%;
}

.thumb + .thumb {
  margin-left: var(--p1);
}

.mask {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: inherit;
  color: var(--white);
  display: flex;
  font-size: 80px;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: var(--btnTrans);
  width: 100%;
  z-index: 0;
}

.mask:hover {
  background-color: transparent;
}

/* The root element */
.dialogOverlay {
  background-color: hsl(0 0% 0% / 55%);
  animation: fade-in 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Won't beat the specificity w/just .dialog */
.dialogOverlay [data-reach-dialog-content] {
  width: 100vw;
  max-width: 800px;
  padding: var(--p5) var(--p2);
  position: relative;
  overflow-y: auto;
  background: hsl(0 0% 0% / 75%);
  cursor: default; /* weird */
}

@media screen and (min-width: 600px) {
  .dialogOverlay [data-reach-dialog-content] {
    width: unset;
    padding: var(--p5);
    margin: var(--p4) auto;
  }
}

.dialogTitle {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--white);
}

.dialogDescrip {
  color: var(--gr2);
}

.dialogCloseBtn {
  position: absolute;
  top: var(--p1);
  right: var(--p1);
}

.videoContainer {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  margin-bottom: var(--p4);
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

/* Dialog animation */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(125px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
