.root {
  --linkColor: var(--white);
  font-family: var(--paraFontFam);
  margin-bottom: var(--p0);
  overflow-x: auto; /* just in case on mobile */
  width: 100%;
}

.list {
  display: flex;
  font-size: var(--font-md);
  gap: 0.45rem;
  margin: 0;
  text-transform: capitalize;
}

.list a {
  font-weight: bold;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.list a:hover {
  border-bottom-color: currentColor;
  color: var(--white);
}

.separator:before {
  opacity: 0.75;
}
