.root {
  font-family: var(--paraFontFam);
  margin-bottom: var(--padding0);
  overflow-x: auto; /* just in case on mobile */
  width: 100%;
  font-size: var(--font-h5);
}

.list {
  display: flex;
  margin: 0;
  text-transform: capitalize;
}

.list > *:not(:first-child):before {
  margin: 0 6px;
  color: var(--secondaryLight);
  opacity: 0.5;
  content: '/';
}
