.projectGroupsRoot {
  display: flex;
  overflow-x: unset;
}

.group {
  border-radius: var(--corner);
  box-shadow: var(--elev10);
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

.groupInner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--p1);
}

.groupTitle {
  border-top-left-radius: var(--corner);
  border-top-right-radius: var(--corner);
  color: var(--white);
  font-size: var(--font-h4);
  margin: 0;
  padding-left: var(--p2);
  padding-right: var(--p2);
  padding-top: var(--p2);
  text-align: center;
}

.itemsWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: var(--p1);
}

.item {
  --border: dashed rgba(255, 255, 255, 0.325) 1px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-bottom: var(--p0);
  padding-top: var(--p0);
}

.item:nth-child(odd) {
  border-right: var(--border);
  padding-right: var(--p0);
}

.item:nth-child(even) {
  padding-left: var(--p0);
}

.item:nth-child(odd):not(:nth-last-child(2)) {
  border-bottom: var(--border);
}

.item:nth-child(odd):last-child {
  border-bottom: none;
}

.item:nth-child(even):not(:last-child) {
  border-bottom: var(--border);
}

.item:nth-child(even):nth-last-child(2) {
  border-bottom: var(--border);
}

.itemTitle {
  font-size: var(--font-md);
  margin-bottom: 0;
  margin-right: 4px;
  color: rgba(255, 255, 255, 0.875);
}

.itemSubTitle {
  color: rgba(255, 255, 255, 0.825);
}

.ctaBtn {
  margin-left: auto;
  flex-grow: 0;
}
