:root {
  /* Grayscale */
  --black: #000;
  --white: #fff;
  --gray1: rgb(222, 222, 222);
  --gray2: rgb(200, 200, 200);
  --gray3: rgb(180, 180, 180);
  --gray4: rgb(160, 160, 160);
  --gray5: rgb(140, 140, 140);
  --gray6: rgb(120, 120, 120);
  --gray7: rgb(100, 100, 100);
  --gray8: rgb(80, 80, 80);
  --gray9: rgb(60, 60, 60);
  --gray10: rgb(40, 40, 40);

  /* Colors */
  --purple: hsl(255, 46%, 40%);
  --primary-h: 255;
  --primary-s: 46%;
  --primary-l: 40%;
  --primary--light-l: 55%;
  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --primaryLight: hsl(
    var(--primary-h),
    var(--primary-s),
    var(--primary--light-l)
  );
  --secondary-h: 49;
  --secondary-s: 100%;
  --secondary-l: 56%;
  --secondary--light-l: 65%;
  --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
  --secondaryLight: hsl(
    var(--secondary-h),
    var(--secondary-s),
    var(--secondary--light-l)
  );
  --linkColor: var(--secondary);

  /* Border radii */
  --borderRad1: 2px;
  --borderRad2: 4px;
  --borderRad3: 8px;
  --borderRad4: 12px;
  --borderRad5: 18px;

  /* Elevation */
  /* TODO: from MUI */
  --elev1: 0 2px 8px rgba(0, 0, 0, 0.25);
  --elev2: 0 2px 10px rgba(0, 0, 0, 0.35);
  --elev3: 0 3px 15px rgba(0, 0, 0, 0.45);

  /* Typography */
  --headingFontFam: 'Libre Franklin', sans-serif;
  --bodyFontFam: var(--headingFontFam);
  --paraFontFam: var(--headingFontFam);
  --btnFontFam: var(--headingFontFam);

  /* Font sizes */
  --font-monster: 3.815rem;
  --font-h1: 3.052rem;
  --font-h2: 2.441rem;
  --font-h3: 1.953rem;
  --font-h4: 1.563rem;
  --font-h5: 1.25rem;
  --font-body: 1rem;
  --font-sm: 0.8rem;
  --font-md: 1rem;
  --font-xs: 0.64rem;
  --font-tiny: 0.512rem;

  /* Layout */
  --maxWidth: 1100px;

  /* Spacing */
  /* TODO: rename all these to --p0, etc. */
  --paddingTiniest: 4px;
  --padding0: 0.512rem;
  --padding1: 0.8rem;
  --padding2: 1rem;
  --padding3: 1.25rem;
  --padding4: 1.563rem;
  --padding5: 1.953rem;
  --padding6: 2.441rem;
  --padding7: 3.052rem;
  --gutter: var(--padding1);

  /* 
    Breakpoints (surrrre):
    --phone: 400px;
    --phablet: 600px;
    --tablet: 768px;
    --laptop: 1200px;
    --monster: 1500px;
  */

  /* Transition/s */
  /* --btnTrans: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  --transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --btnTrans: var(--transition);

  /* Line heights */
  --headingLineHt: 1.3;
}

/* CRED: (fonts): https://type-scale.com/ */
html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* CRED: BG img */
/*
  Photo by <a href="https://unsplash.com/@thkelley?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thomas Kelley</a> on <a href="https://unsplash.com/s/photos/languages?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
*/
body {
  font-family: var(--bodyFontFam);
  font-size: var(--font-body);
  line-height: 1.75;
  background-image: linear-gradient(
      10deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    /* TODO: improve, obvi */ -webkit-image-set(url('https://content.endangeredlanguagealliance.org/wp-content/uploads/2021/05/thomas-kelley-hHL08lF7Ikc-unsplash-300x200.jpg')
          1x, url('https://content.endangeredlanguagealliance.org/wp-content/uploads/2021/05/thomas-kelley-hHL08lF7Ikc-unsplash-1024x683.jpg')
          3x, url('https://content.endangeredlanguagealliance.org/wp-content/uploads/2021/05/thomas-kelley-hHL08lF7Ikc-unsplash-768x512.jpg')
          2x, url('https://content.endangeredlanguagealliance.org/wp-content/uploads/2021/05/thomas-kelley-hHL08lF7Ikc-unsplash-1536x1024.jpg')
          4x, url('https://content.endangeredlanguagealliance.org/wp-content/uploads/2021/05/thomas-kelley-hHL08lF7Ikc-unsplash-2048x1365.jpg')
          5x, url('https://content.endangeredlanguagealliance.org/wp-content/uploads/2021/05/thomas-kelley-hHL08lF7Ikc-unsplash-1568x1045.jpg')
          6x);
  background-image: linear-gradient(
      10deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url('https://content.endangeredlanguagealliance.org/wp-content/uploads/2021/05/thomas-kelley-hHL08lF7Ikc-unsplash-2048x1365.jpg');
  background-size: cover;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  transition: var(--transition);
  /* TODO: nice chubby underline */
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headingFontFam);
  margin: 0 0 1.38rem;
  font-weight: 700;
  line-height: var(--headingLineHt);
  margin-top: 0;
}

h1 {
  margin-top: 2rem;
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
h4 {
  font-size: var(--font-h4);
}
h5 {
  font-size: var(--font-h5);
}

/* Somehow still overrides inline styles from WP */
img,
iframe {
  /* TODO: careful w/iframe! */
  max-width: 100%;
}

p {
  margin-bottom: 1.38rem;
  margin-top: 0;
  font-size: 1.15rem;
  font-family: var(--paraFontFam);
}

small {
  font-size: var(--font-sm);
}

button {
  cursor: pointer;
}

figure {
  margin: 0 0 var(--padding4);
}

figure img {
  height: auto;
}

@media screen and (min-width: 1921px) {
  :root {
    --maxWidth: 1300px;
  }

  /* 
  html {
    font-size: 20px;
  }
  */
}

@media screen and (min-width: 600px) {
  :root {
    --font-h1: var(--font-monster);
    --gutter: var(--padding4);
  }
}

/* Hate to put this in this file, but it works */
[data-reach-dialog-overlay] {
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
