.container {
  padding-left: var(--padding);
  padding-right: var(--padding);
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.main {
  padding-bottom: calc(var(--padding) * 2);
  padding-top: calc(var(--padding) * 2);
}
