.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding-left: var(--padding3);
  padding-right: var(--padding3);
}

.main {
  margin-bottom: auto;
  padding-bottom: var(--padding4);
  padding-top: var(--padding4);
  width: 100%;
}
